[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
rope = "*"

[packages]
ask-sdk-core = "*"
pyyaml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
format-check = "black . --check"
lint = "flake8 ."
